#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body
{
    background-color: #ebe6e6;
}
#button
{
    background-color: #A4031F;
    text-size-adjust: 20px;
    size: 40px;
}